body{
    background-color: lighten($secondaryColor, 5%);

    div#wrapper{
        max-width: 75rem;
        margin: 0 auto;
        box-shadow: 0 0 10px #000000;
        background-color: white;
        
    }

    header h2 {
        display: block;
    }
}

// ******* Nav *******
nav {

    ul{
        margin-left: $gutter;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    ul li {
        width: auto;
    }

    ul li:last-child{
        border-right: 1px solid rgba(0,0,0,0.3);
    }

    ul li a {
        padding: .5rem 1rem;
    }

}


// ******* Main *******
main {
    figure.photo {
        width: 25%-$gutterdbl;
        float: left;
    }

    div.blog article {
        float: left;
        width: 33.33%-$gutterdbl;
    }

    div.blog article:nth-child(2n+1){
        clear: none;
    }

    div.blog article:nth-child(3n+1){
        clear: left;
    }

}